### 3rd_ML100Marathon Midterm

- 安隆公司曾是一間能源公司，2001 年破產前是世界上最大的電力、天然氣及電信公司之一。擁有上千億資產的公司於 2002 年竟然在短短幾周內宣告破產，才揭露其財報在多年以來均是造假的醜聞。在本資料集中你將會扮演偵探的角色，透過高層經理人內部的 mail 來往的情報以及薪資、股票等財務特徵，訓練出一個機器學習模型來幫忙你找到可疑的詐欺犯罪者是誰! 我們已經先幫你找到幾位犯罪者 (Person-of-Interest, poi) 與清白的員工，請利用這些訓練資料來訓練屬於自己的詐欺犯機器學習模型吧!

### 特徵說明
- 有關財務的特徵: ['salary', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'restricted_stock_deferred', 'deferred_income', 'total_stock_value', 'expenses', 'exercised_stock_options', 'other', 'long_term_incentive', 'restricted_stock', 'director_fees'] (單位皆為美元)。更詳細的特徵說明請參考 enron61702insiderpay.pdf 的最後一頁(請至Data頁面參考該PDF檔)
- 有關 email 的特徵: ['to_messages', 'email_address', 'from_poi_to_this_person', 'from_messages', 'from_this_person_to_poi', 'shared_receipt_with_poi'] (除了 email_address，其餘皆為次數)

- 嫌疑人的標記，也就是我們常用的 **y**。POI label: [‘poi’] (boolean, represented as integer)

我們也建議你對既有特徵進行一些特徵工程如 rescale, transform ，也試著發揮想像力與創意，建立一些可以幫助找到嫌疑犯的特徵，增進模型的預測能力

In [130]:
# Import 需要的套件
import os
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from IPython.display import display
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor,RandomForestClassifier,RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV

%matplotlib inline

### 讀取資料

In [158]:
df_train = pd.read_csv("train_data.csv")
df_test = pd.read_csv("test_features.csv")
submit = pd.read_csv("sample_submission.csv")

In [11]:
print(df_train.info())
print("--------------------------------------------")
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 22 columns):
name                         113 non-null object
bonus                        61 non-null float64
deferral_payments            28 non-null float64
deferred_income              34 non-null float64
director_fees                13 non-null float64
email_address                83 non-null object
exercised_stock_options      81 non-null float64
expenses                     73 non-null float64
from_messages                65 non-null float64
from_poi_to_this_person      65 non-null float64
from_this_person_to_poi      65 non-null float64
loan_advances                2 non-null float64
long_term_incentive          49 non-null float64
other                        69 non-null float64
poi                          113 non-null bool
restricted_stock             82 non-null float64
restricted_stock_deferred    10 non-null float64
salary                       73 non-null float64
shared_receipt_with_poi      65 non-null float64
to_messages                  65 non-null float64
total_payments               96 non-null float64
total_stock_value            98 non-null float64
dtypes: bool(1), float64(19), object(2)
memory usage: 18.8+ KB
None
--------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 21 columns):
name                         33 non-null object
bonus                        21 non-null float64
deferral_payments            11 non-null float64
deferred_income              15 non-null float64
director_fees                4 non-null float64
email_address                28 non-null object
exercised_stock_options      21 non-null float64
expenses                     22 non-null float64
from_messages                21 non-null float64
from_poi_to_this_person      21 non-null float64
from_this_person_to_poi      21 non-null float64
loan_advances                2 non-null float64
long_term_incentive          17 non-null float64
other                        24 non-null float64
restricted_stock             28 non-null float64
restricted_stock_deferred    8 non-null float64
salary                       22 non-null float64
shared_receipt_with_poi      21 non-null float64
to_messages                  21 non-null float64
total_payments               29 non-null float64
total_stock_value            28 non-null float64
dtypes: float64(19), object(2)
memory usage: 5.5+ KB
None

### 前處理

In [160]:
# df = df_train.append(df_test)
# df.reset_index(inplace=True, drop = True)
df

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,name,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,4.0,...,RICE KENNETH D,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,30.0,...,SKILLING JEFFREY K,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,14.0,...,SHELBY REX,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,NaN,...,KOPPER MICHAEL J,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,25.0,...,CALGER CHRISTOPHER F,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,1000000.0,NaN,NaN,NaN,philippe.bibi@enron.com,1465734.0,38559.0,40.0,23.0,8.0,...,BIBI PHILIPPE A,425688.0,NaN,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
142,1500000.0,NaN,NaN,NaN,john.sherriff@enron.com,1835558.0,NaN,92.0,28.0,23.0,...,SHERRIFF JOHN R,1852186.0,NaN,1293424.0,NaN,428780.0,2103.0,3187.0,4335388.0,3128982.0
143,NaN,504610.0,NaN,NaN,dana.gibbs@enron.com,2218275.0,NaN,12.0,0.0,0.0,...,GIBBS DANA R,NaN,NaN,NaN,NaN,NaN,23.0,169.0,966522.0,2218275.0
144,200000.0,204075.0,NaN,NaN,tod.lindholm@enron.com,2549361.0,57727.0,NaN,NaN,NaN,...,LINDHOLM TOD A,2630.0,NaN,514847.0,NaN,236457.0,NaN,NaN,875889.0,3064208.0
145,2600000.0,NaN,NaN,NaN,jeffrey.mcmahon@enron.com,1104054.0,137108.0,48.0,58.0,26.0,...,MCMAHON JEFFREY,297353.0,NaN,558801.0,NaN,370448.0,2228.0,2355.0,4099771.0,1662855.0

In [161]:
df['poi'].unique()

array([True, False, nan], dtype=object)

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 22 columns):
bonus                        82 non-null float64
deferral_payments            39 non-null float64
deferred_income              49 non-null float64
director_fees                17 non-null float64
email_address                111 non-null object
exercised_stock_options      102 non-null float64
expenses                     95 non-null float64
from_messages                86 non-null float64
from_poi_to_this_person      86 non-null float64
from_this_person_to_poi      86 non-null float64
loan_advances                4 non-null float64
long_term_incentive          66 non-null float64
name                         146 non-null object
other                        93 non-null float64
poi                          113 non-null object
restricted_stock             110 non-null float64
restricted_stock_deferred    18 non-null float64
salary                       95 non-null float64
shared_receipt_with_poi      86 non-null float64
to_messages                  86 non-null float64
total_payments               125 non-null float64
total_stock_value            126 non-null float64
dtypes: float64(19), object(3)
memory usage: 25.2+ KB

In [163]:
df.describe()

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
count,8.200000e+01,3.900000e+01,4.900000e+01,1.700000e+01,1.020000e+02,9.500000e+01,86.000000,86.000000,86.000000,4.000000e+00,6.600000e+01,9.300000e+01,1.100000e+02,1.800000e+01,9.500000e+01,86.000000,86.000000,1.250000e+02,1.260000e+02
mean,2.374235e+06,1.642674e+06,-1.140475e+06,1.668049e+05,5.987054e+06,1.087289e+05,608.790698,64.895349,41.232558,4.196250e+07,1.470361e+06,9.190650e+05,2.321741e+06,1.664106e+05,5.621943e+05,1176.465116,2073.860465,5.081526e+06,6.773957e+06
std,1.071333e+07,5.161930e+06,4.025406e+06,3.198914e+05,3.106201e+07,5.335348e+05,1841.033949,86.979244,100.073111,4.708321e+07,5.942759e+06,4.589253e+06,1.251828e+07,4.201494e+06,2.716369e+06,1178.317641,2582.700981,2.906172e+07,3.895777e+07
min,7.000000e+04,-1.025000e+05,-2.799289e+07,3.285000e+03,3.285000e+03,1.480000e+02,12.000000,0.000000,0.000000,4.000000e+05,6.922300e+04,2.000000e+00,-2.604490e+06,-7.576788e+06,4.770000e+02,2.000000,57.000000,1.480000e+02,-4.409300e+04
25%,4.312500e+05,8.157300e+04,-6.948620e+05,9.878400e+04,5.278862e+05,2.261400e+04,22.750000,10.000000,1.000000,1.600000e+06,2.812500e+05,1.215000e+03,2.540180e+05,-3.896218e+05,2.118160e+05,249.750000,541.250000,3.944750e+05,4.945102e+05
50%,7.693750e+05,2.274490e+05,-1.597920e+05,1.085790e+05,1.310814e+06,4.695000e+04,41.000000,35.000000,8.000000,4.176250e+07,4.420350e+05,5.238200e+04,4.517400e+05,-1.469750e+05,2.599960e+05,740.500000,1211.000000,1.101393e+06,1.102872e+06
75%,1.200000e+06,1.002672e+06,-3.834600e+04,1.137840e+05,2.547724e+06,7.995250e+04,145.500000,72.250000,24.750000,8.212500e+07,9.386720e+05,3.620960e+05,1.002370e+06,-7.500975e+04,3.121170e+05,1888.250000,2634.750000,2.093263e+06,2.949847e+06
max,9.734362e+07,3.208340e+07,-8.330000e+02,1.398517e+06,3.117640e+08,5.235198e+06,14368.000000,528.000000,609.000000,8.392500e+07,4.852193e+07,4.266759e+07,1.303223e+08,1.545629e+07,2.670423e+07,5521.000000,15149.000000,3.098866e+08,4.345095e+08

### 資料分析

In [164]:
#犯人
#df_poi = df.iloc[:12,]

df_poi.info

<bound method DataFrame.info of         bonus  deferral_payments  deferred_income  director_fees  \
0   1750000.0                NaN       -3504386.0            NaN
1   5600000.0                NaN              NaN            NaN
2    200000.0                NaN          -4167.0            NaN
3    800000.0                NaN              NaN            NaN
4   1250000.0                NaN        -262500.0            NaN
5         NaN            10259.0              NaN            NaN
6         NaN                NaN              NaN            NaN
7   1200000.0            27610.0        -144062.0            NaN
8   7000000.0           202911.0        -300000.0            NaN
9    600000.0                NaN              NaN            NaN
10   700000.0                NaN              NaN            NaN
11   700000.0           214678.0        -100000.0            NaN

                   email_address  exercised_stock_options  expenses  \
0             ken.rice@enron.com               19794175.0   46950.0
1        jeff.skilling@enron.com               19250000.0   29336.0
2           rex.shelby@enron.com                1624396.0   22884.0
3       michael.kopper@enron.com                      NaN  118134.0
4   christopher.calger@enron.com                      NaN   35818.0
5            joe.hirko@enron.com               30766064.0   77978.0
6         scott.yeager@enron.com                8308552.0   53947.0
7          wes.colwell@enron.com                      NaN   16514.0
8          kenneth.lay@enron.com               34348384.0   99832.0
9           ben.glisan@enron.com                 384728.0  125978.0
10         mark.koenig@enron.com                 671737.0  127017.0
11        paula.rieker@enron.com                1635238.0   33271.0

    from_messages  from_poi_to_this_person  from_this_person_to_poi  ...  \
0            18.0                     42.0                      4.0  ...
1           108.0                     88.0                     30.0  ...
2            39.0                     13.0                     14.0  ...
3             NaN                      NaN                      NaN  ...
4           144.0                    199.0                     25.0  ...
5             NaN                      NaN                      NaN  ...
6             NaN                      NaN                      NaN  ...
7            40.0                    240.0                     11.0  ...
8            36.0                    123.0                     16.0  ...
9            16.0                     52.0                      6.0  ...
10           61.0                     53.0                     15.0  ...
11           82.0                     35.0                     48.0  ...

                    name       other   poi  restricted_stock  \
0         RICE KENNETH D    174839.0  True         2748364.0
1     SKILLING JEFFREY K     22122.0  True         6843672.0
2             SHELBY REX   1573324.0  True          869220.0
3       KOPPER MICHAEL J    907502.0  True          985032.0
4   CALGER CHRISTOPHER F       486.0  True          126027.0
5           HIRKO JOSEPH      2856.0  True               NaN
6         YEAGER F SCOTT    147950.0  True         3576206.0
7         COLWELL WESLEY    101740.0  True          698242.0
8          LAY KENNETH L  10359729.0  True        14761694.0
9        GLISAN JR BEN F    200308.0  True          393818.0
10         KOENIG MARK E    150458.0  True         1248318.0
11        RIEKER PAULA H      1950.0  True          283649.0

   restricted_stock_deferred     salary  shared_receipt_with_poi  to_messages  \
0                        NaN   420636.0                    864.0        905.0
1                        NaN  1111258.0                   2042.0       3627.0
2                        NaN   211844.0                     91.0        225.0
3                        NaN   224305.0                      NaN          NaN
4                        NaN   240189.0                   2188.0       2598.0
5                        NaN        NaN                      NaN          NaN
6                        NaN   158403.0                      NaN          NaN
7                        NaN   288542.0                   1132.0       1758.0
8                        NaN  1072321.0                   2411.0       4273.0
9                        NaN   274975.0                    874.0        873.0
10                       NaN   309946.0                   2271.0       2374.0
11                       NaN   249201.0                   1258.0       1328.0

    total_payments  total_stock_value
0         505050.0         22542539.0
1        8682716.0         26093672.0
2        2003885.0          2493616.0
3        2652612.0           985032.0
4        1639297.0           126027.0
5          91093.0         30766064.0
6         360300.0         11884758.0
7        1490344.0           698242.0
8      103559793.0         49110078.0
9        1272284.0           778546.0
10       1587421.0          1920055.0
11       1099100.0          1918887.0

[12 rows x 22 columns]>

In [165]:
df_poi

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,name,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,4.0,...,RICE KENNETH D,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,30.0,...,SKILLING JEFFREY K,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,14.0,...,SHELBY REX,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,NaN,...,KOPPER MICHAEL J,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,25.0,...,CALGER CHRISTOPHER F,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
5,NaN,10259.0,NaN,NaN,joe.hirko@enron.com,30766064.0,77978.0,NaN,NaN,NaN,...,HIRKO JOSEPH,2856.0,True,NaN,NaN,NaN,NaN,NaN,91093.0,30766064.0
6,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552.0,53947.0,NaN,NaN,NaN,...,YEAGER F SCOTT,147950.0,True,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0
7,1200000.0,27610.0,-144062.0,NaN,wes.colwell@enron.com,NaN,16514.0,40.0,240.0,11.0,...,COLWELL WESLEY,101740.0,True,698242.0,NaN,288542.0,1132.0,1758.0,1490344.0,698242.0
8,7000000.0,202911.0,-300000.0,NaN,kenneth.lay@enron.com,34348384.0,99832.0,36.0,123.0,16.0,...,LAY KENNETH L,10359729.0,True,14761694.0,NaN,1072321.0,2411.0,4273.0,103559793.0,49110078.0
9,600000.0,NaN,NaN,NaN,ben.glisan@enron.com,384728.0,125978.0,16.0,52.0,6.0,...,GLISAN JR BEN F,200308.0,True,393818.0,NaN,274975.0,874.0,873.0,1272284.0,778546.0
10,700000.0,NaN,NaN,NaN,mark.koenig@enron.com,671737.0,127017.0,61.0,53.0,15.0,...,KOENIG MARK E,150458.0,True,1248318.0,NaN,309946.0,2271.0,2374.0,1587421.0,1920055.0
11,700000.0,214678.0,-100000.0,NaN,paula.rieker@enron.com,1635238.0,33271.0,82.0,35.0,48.0,...,RIEKER PAULA H,1950.0,True,283649.0,NaN,249201.0,1258.0,1328.0,1099100.0,1918887.0

In [170]:
#藉由df_poi的資料發現，'restricted_stock_deferred'、'loan_advances'、'director_fees'、'email_address'對於poi並沒有直接影響

df2 = df.drop(['restricted_stock_deferred','loan_advances','director_fees','email_address'], axis = 1)

df2

,bonus,deferral_payments,deferred_income,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,long_term_incentive,name,other,poi,restricted_stock,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,19794175.0,46950.0,18.0,42.0,4.0,1617011.0,RICE KENNETH D,174839.0,True,2748364.0,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,19250000.0,29336.0,108.0,88.0,30.0,1920000.0,SKILLING JEFFREY K,22122.0,True,6843672.0,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,1624396.0,22884.0,39.0,13.0,14.0,NaN,SHELBY REX,1573324.0,True,869220.0,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,118134.0,NaN,NaN,NaN,602671.0,KOPPER MICHAEL J,907502.0,True,985032.0,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,35818.0,144.0,199.0,25.0,375304.0,CALGER CHRISTOPHER F,486.0,True,126027.0,240189.0,2188.0,2598.0,1639297.0,126027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,1000000.0,NaN,NaN,1465734.0,38559.0,40.0,23.0,8.0,369721.0,BIBI PHILIPPE A,425688.0,NaN,378082.0,213625.0,1336.0,1607.0,2047593.0,1843816.0
142,1500000.0,NaN,NaN,1835558.0,NaN,92.0,28.0,23.0,554422.0,SHERRIFF JOHN R,1852186.0,NaN,1293424.0,428780.0,2103.0,3187.0,4335388.0,3128982.0
143,NaN,504610.0,NaN,2218275.0,NaN,12.0,0.0,0.0,461912.0,GIBBS DANA R,NaN,NaN,NaN,NaN,23.0,169.0,966522.0,2218275.0
144,200000.0,204075.0,NaN,2549361.0,57727.0,NaN,NaN,NaN,175000.0,LINDHOLM TOD A,2630.0,NaN,514847.0,236457.0,NaN,NaN,875889.0,3064208.0
145,2600000.0,NaN,NaN,1104054.0,137108.0,48.0,58.0,26.0,694862.0,MCMAHON JEFFREY,297353.0,NaN,558801.0,370448.0,2228.0,2355.0,4099771.0,1662855.0

# 補上缺漏值

In [173]:
#檢查 DataFrame 空缺值的狀態
def na_check(df2):
    df2_na = (df2.isnull().sum() / len(df2)) * 100
    df2_na = df2_na.drop(df2_na[df2_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'Missing Ratio' :df2_na})
    display(missing_data.head(10))
na_check(df2)

     Missing Ratio
poi       22.60274

In [172]:
df2['deferral_payments'] = df2['deferral_payments'].fillna("0")
df2['deferred_income'] = df2['deferred_income'].fillna("0")
df2['long_term_incentive'] = df2['long_term_incentive'].fillna("0")
df2['bonus'] = df2['bonus'].fillna("0") 
df2['to_messages'] = df2['to_messages'].fillna("0") 
df2['shared_receipt_with_poi'] = df2['shared_receipt_with_poi'].fillna("0") 
df2['from_this_person_to_poi'] = df2['from_this_person_to_poi'].fillna("0") 
df2['from_poi_to_this_person'] = df2['from_poi_to_this_person'].fillna("0") 
df2['from_messages'] = df2['from_messages'].fillna("0") 
df2['other'] = df2['other'].fillna("0")
df2['expenses'] = df2['expenses'].fillna("0")
df2['exercised_stock_options'] = df2['exercised_stock_options'].fillna("0") 
df2['restricted_stock'] = df2['restricted_stock'].fillna("0") 
df2['total_payments'] = df2['total_payments'].fillna("0") 
df2['total_stock_value'] = df2['total_stock_value'].fillna("0")
df2['salary'] = df2['salary'].fillna(df2['salary'].mean())

In [183]:
df2.head(20)

,bonus,deferral_payments,deferred_income,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,long_term_incentive,name,other,poi,restricted_stock,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1.75e+06,0,-3.50439e+06,1.97942e+07,46950,18,42,4,1.61701e+06,RICE KENNETH D,174839,True,2.74836e+06,4.206360e+05,864,905,505050,2.25425e+07
1,5.6e+06,0,0,1.925e+07,29336,108,88,30,1.92e+06,SKILLING JEFFREY K,22122,True,6.84367e+06,1.111258e+06,2042,3627,8.68272e+06,2.60937e+07
2,200000,0,-4167,1.6244e+06,22884,39,13,14,0,SHELBY REX,1.57332e+06,True,869220,2.118440e+05,91,225,2.00388e+06,2.49362e+06
3,800000,0,0,0,118134,0,0,0,602671,KOPPER MICHAEL J,907502,True,985032,2.243050e+05,0,0,2.65261e+06,985032
4,1.25e+06,0,-262500,0,35818,144,199,25,375304,CALGER CHRISTOPHER F,486,True,126027,2.401890e+05,2188,2598,1.6393e+06,126027
5,0,10259,0,3.07661e+07,77978,0,0,0,0,HIRKO JOSEPH,2856,True,0,5.621943e+05,0,0,91093,3.07661e+07
6,0,0,0,8.30855e+06,53947,0,0,0,0,YEAGER F SCOTT,147950,True,3.57621e+06,1.584030e+05,0,0,360300,1.18848e+07
7,1.2e+06,27610,-144062,0,16514,40,240,11,0,COLWELL WESLEY,101740,True,698242,2.885420e+05,1132,1758,1.49034e+06,698242
8,7e+06,202911,-300000,3.43484e+07,99832,36,123,16,3.6e+06,LAY KENNETH L,1.03597e+07,True,1.47617e+07,1.072321e+06,2411,4273,1.0356e+08,4.91101e+07
9,600000,0,0,384728,125978,16,52,6,71023,GLISAN JR BEN F,200308,True,393818,2.749750e+05,874,873,1.27228e+06,778546
10,700000,0,0,671737,127017,61,53,15,300000,KOENIG MARK E,150458,True,1.24832e+06,3.099460e+05,2271,2374,1.58742e+06,1.92006e+06
11,700000,214678,-100000,1.63524e+06,33271,82,35,48,0,RIEKER PAULA H,1950,True,283649,2.492010e+05,1258,1328,1.0991e+06,1.91889e+06
12,1.3e+06,0,-1.38606e+06,0,55921,0,0,0,1.73606e+06,FASTOW ANDREW S,277464,True,1.79441e+06,4.406980e+05,0,0,2.42408e+06,1.79441e+06
13,750000,0,0,436515,0,0,0,0,304805,GOLD JOSEPH,819288,False,441096,2.728800e+05,0,0,2.14697e+06,877611
14,4.175e+06,2.86972e+06,-3.08106e+06,1.72954e+06,13868,2195,47,65,304805,ALLEN PHILLIP K,152,False,126027,2.019550e+05,1407,2902,4.48444e+06,1.72954e+06
15,850000,0,0,765313,84208,14,25,2,831809,BLACHMAN JEREMY M,272,False,189041,2.485460e+05,2326,2475,2.01484e+06,954354
16,509870,73122,-1042,83237,50080,0,0,0,0,GAHN ROBERT S,76547,False,235370,1.920080e+05,0,0,900585,318607
17,0,0,0,139130,0,0,0,0,0,WROBEL BRUCE,0,False,0,5.621943e+05,0,0,0,139130
18,325000,0,0,0,22344,0,0,0,275000,CUMBERLAND MICHAEL S,713,False,207940,1.848990e+05,0,0,807956,207940
19,1e+06,0,0,0,0,63,67,14,1.3874e+06,LEFF DANIEL P,3083,False,360528,2.737460e+05,2672,2822,2.66423e+06,360528

# 套入模型

In [175]:
Train = df2[pd.notnull(df2['poi'])].sort_values(by=["name"])
Test = df2[~pd.notnull(df2['poi'])].sort_values(by=["name"])

In [127]:
print(Train.columns.values.tolist())  #獲取列名
print('--------------------------')
print(Test.columns.values.tolist())  #獲取列名

['bonus', 'deferral_payments', 'deferred_income', 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person', 'from_this_person_to_poi', 'long_term_incentive', 'name', 'other', 'poi', 'restricted_stock', 'salary', 'shared_receipt_with_poi', 'to_messages', 'total_payments', 'total_stock_value']
--------------------------
['bonus', 'deferral_payments', 'deferred_income', 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person', 'from_this_person_to_poi', 'long_term_incentive', 'name', 'other', 'poi', 'restricted_stock', 'salary', 'shared_receipt_with_poi', 'to_messages', 'total_payments', 'total_stock_value']

In [187]:
#更改順序
Train = Train[['poi','bonus', 'deferral_payments', 'deferred_income', 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person', 'from_this_person_to_poi', 'long_term_incentive', 'other',  'restricted_stock', 'salary', 'shared_receipt_with_poi', 'to_messages', 'total_payments', 'total_stock_value']]
Test = Test[['bonus', 'deferral_payments', 'deferred_income', 'exercised_stock_options', 'expenses', 'from_messages', 'from_poi_to_this_person', 'from_this_person_to_poi', 'long_term_incentive', 'other',  'restricted_stock', 'salary', 'shared_receipt_with_poi', 'to_messages', 'total_payments', 'total_stock_value']]

In [207]:
Test['bonus']

131         400000
113       5.25e+06
139              0
141          1e+06
114       1.35e+06
138         300000
117          1e+06
120              0
116          3e+06
127         800000
129         425000
121         800000
134        2.5e+06
119          2e+06
143              0
115        1.5e+06
118        1.7e+06
123              0
130              0
124              0
144         200000
145        2.6e+06
135         600000
126              0
137         325000
128              0
132              0
122         100000
125              0
142        1.5e+06
133    9.73436e+07
140              0
136              0
Name: bonus, dtype: object

In [222]:
#隨機森林樹

rf = RandomForestClassifier(criterion='entropy',
                            n_estimators=1000,
                            min_samples_split=12,
                            min_samples_leaf=1,
                            oob_score=True, 
                            random_state=1,
                            n_jobs=-1) 

rf.fit(Train.iloc[:, 1:], Train.iloc[:, 0])
print("%.4f" % rf.oob_score_)

0.8938

In [198]:
# 設定要訓練的超參數組合
param_grid = {"criterion" : ["entropy", "gini"],
              "max_depth" : [4,6,8,10],
              "min_samples_split" : [2,5,10],
              "min_samples_leaf" : [2,5,10],
              "n_estimators" : [20,50, 100], # 使用 n 顆樹
              "max_features" : ['auto', 'sqrt'], # 如何選取 features
              "oob_score" : [True]
             }

## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
grid_search = GridSearchCV(estimator = RandomForestClassifier(random_state = 50),
                  param_grid = param_grid,
                  cv = 5,
                  scoring = "accuracy")

# 開始搜尋最佳參數
grid_result = grid_search.fit(Train.iloc[:, 1:], Train.iloc[:, 0])

C:\Users\User\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [199]:
# 印出最佳結果與最佳參數 
print("best_score  : %s" % grid_result.best_score_) 
print("best_params : %s \n" % grid_result.best_params_)

best_score  : 0.8938053097345132
best_params : {'criterion': 'entropy', 'max_depth': 4, 'max_features': 'auto', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 20, 'oob_score': True}

In [219]:
rf = grid_result.best_score_

In [221]:
# 訓練模型 
rf.fit(Train.iloc[:, 1:], Train.iloc[:, 0])

AttributeError: 'numpy.float64' object has no attribute 'fit'

In [195]:
# 隨機森林預測檔 
rf_res = rf.predict(Test) 
submit['poi'] = rf_res 
submit['poi'] = submit['poi'].astype(int) 
submit.to_csv('mid_submit.csv', index = False)